@font-face {
  font-family: "pixfont";
  src: url("../static/fonts/unifon.woff");
}

:root {
  --body-color: #5fa09f;
  --header-footer-font-color: #000;
  --content-background-color: #ffebcd;
  --content-font-color: #000;
  --chess-board-border-color: #000;
  --white-square-color: #eeeed2;
  --black-square-color: #769656;
  --button-font-color: #fff;
  --button-hover-color: #497a79;
  --link-color: #baca44;
  --highlight-square-center-color: rgba(255, 215, 0, 0.4);
  --highlight-square-edge-color: rgba(255, 215, 0, 0.1);
  --highlight-square-border-color: rgba(255, 215, 0, 0.3);
  --highlight-last-move-square-center-color: rgba(64, 255, 0, 0.4);
  --highlight-last-move-square-edge-color: rgba(64, 255, 0, 0.1);
  --highlight-last-move-square-border-color: rgba(64, 255, 0, 0.3);
  --promotion-option-still-color: #a9a9a9;
  --promotion-option-hover-color: #539B0C;
  --gameinfo-background-color: #fff;
  --gameinfo-footer-header-color: #c0c0c0;
  --gameinfo-border-color: #000;
  --gameinfo-move-number-color: #ddd;
  --gameinfo-highlighted-move-color: #d0e4f5;
  --gameinfo-buttons-color: #f7f6f5;
  --gameinfo-button-text-color: #000;
  --gameinfo-button-hover-color: #629924;
  --gameinfo-button-text-hover-color: #f5f5f5;
}

.rose-theme {
  --body-color: #403c39;
  --header-footer-font-color: #fff;
  --content-background-color: #BFB4A3;
  --content-font-color: #000;
  --chess-board-border-color: #000;
  --white-square-color: #f4f3ee;
  --black-square-color: #e0afa0;
  --button-font-color: #fff;
  --button-hover-color: #6D5B54;
  --link-color: #ad3b5a;
  --highlight-square-center-color: rgba(206, 159, 64, 0.35);
  --highlight-square-edge-color: rgba(206, 159, 64, 0.1);
  --highlight-square-border-color: rgba(206, 159, 64, 0.25);
  --highlight-last-move-square-center-color: rgba(221, 102, 205, 0.35);
  --highlight-last-move-square-edge-color: rgba(221, 102, 205, 0.1);
  --highlight-last-move-square-border-color: rgba(221, 102, 205, 0.3);
  --promotion-option-still-color: #a9a9a9;
  --promotion-option-hover-color: #68605B;
  --gameinfo-background-color: #fff;
  --gameinfo-footer-header-color: #bcb8b1;
  --gameinfo-border-color: #000;
  --gameinfo-move-number-color: #ddd;
  --gameinfo-highlighted-move-color: #d9c1d6;
  --gameinfo-buttons-color: #f7f6f5;
  --gameinfo-button-text-color: #000;
  --gameinfo-button-hover-color: #686055;
  --gameinfo-button-text-hover-color: #f5f5f5;
}

.sunrise-theme {
  --body-color: #621708;
  --header-footer-font-color: #ffffff;
  --content-background-color: #FACC75;
  --content-font-color: #2d2d2d;
  --chess-board-border-color: #BC3908;
  --white-square-color: #FDF1D8;
  --black-square-color: #BC3908;
  --button-font-color: #ffffff;
  --button-hover-color: #ff8b61;
  --link-color: #ff8b61;
  --highlight-square-center-color: rgba(188, 8, 131, 0.4);
  --highlight-square-edge-color: rgba(188, 8, 131, 0.1);
  --highlight-square-border-color: rgba(188, 8, 131, 0.3);
  --highlight-last-move-square-center-color: rgba(255, 215, 0, 0.4);
  --highlight-last-move-square-edge-color: rgba(255, 215, 0, 0.1);
  --highlight-last-move-square-border-color: rgba(255, 215, 0, 0.3);
  --promotion-option-still-color: #f29e4c;
  --promotion-option-hover-color: #d62828;
  --gameinfo-background-color: #ffffff;
  --gameinfo-footer-header-color: #F6AA1C;
  --gameinfo-border-color: #BC3908;
  --gameinfo-move-number-color: #ffdd57;
  --gameinfo-highlighted-move-color: #ffd700;
  --gameinfo-buttons-color: #FACC74;
  --gameinfo-button-text-color: #2d2d2d;
  --gameinfo-button-hover-color: #ffab76;
  --gameinfo-button-text-hover-color: #ffffff;
}

.coral-theme {
  --body-color: #ff6f61;
  --header-footer-font-color: #ffffff;
  --content-background-color: #ffe9c5;
  --content-font-color: #2d2d2d;
  --chess-board-border-color: #ff4e50;
  --white-square-color: #fffbf0;
  --black-square-color: #e63946;
  --button-font-color: #ffffff;
  --button-hover-color: #ff8b61;
  --link-color: #ffb703;
  --highlight-square-center-color: rgba(255, 223, 47, 0.4);
  --highlight-square-edge-color: rgba(255, 223, 47, 0.1);
  --highlight-square-border-color: rgba(255, 223, 47, 0.3);
  --highlight-last-move-square-center-color: rgba(72, 232, 172, 0.4);
  --highlight-last-move-square-edge-color: rgba(72, 232, 172, 0.1);
  --highlight-last-move-square-border-color: rgba(72, 232, 172, 0.3);
  --promotion-option-still-color: #f29e4c;
  --promotion-option-hover-color: #d62828;
  --gameinfo-background-color: #ffffff;
  --gameinfo-footer-header-color: #ffc6ff;
  --gameinfo-border-color: #e63946;
  --gameinfo-move-number-color: #ffdd57;
  --gameinfo-highlighted-move-color: #ffd700;
  --gameinfo-buttons-color: #ffdad9;
  --gameinfo-button-text-color: #2d2d2d;
  --gameinfo-button-hover-color: #ffab76;
  --gameinfo-button-text-hover-color: #ffffff;
}

.gray-theme {
  --body-color: #4a5966;
  --header-footer-font-color: #ffffff;
  --content-background-color: #dcd7c9;
  --content-font-color: #333333;
  --chess-board-border-color: #2b3e50;
  --white-square-color: #f0f0e8;
  --black-square-color: #3b4b3c;
  --button-font-color: #ffffff;
  --button-hover-color: #314f4f;
  --link-color: #a8c256;
  --highlight-square-center-color: rgba(173, 216, 230, 0.4);
  --highlight-square-edge-color: rgba(173, 216, 230, 0.1);
  --highlight-square-border-color: rgba(173, 216, 230, 0.3);
  --highlight-last-move-square-center-color: rgba(102, 205, 170, 0.4);
  --highlight-last-move-square-edge-color: rgba(102, 205, 170, 0.1);
  --highlight-last-move-square-border-color: rgba(102, 205, 170, 0.3);
  --promotion-option-still-color: #6e7f80;
  --promotion-option-hover-color: #3e5f3b;
  --gameinfo-background-color: #ffffff;
  --gameinfo-footer-header-color: #b5b5b5;
  --gameinfo-border-color: #2b3e50;
  --gameinfo-move-number-color: #cccccc;
  --gameinfo-highlighted-move-color: #a3c4dc;
  --gameinfo-buttons-color: #e8e8e8;
  --gameinfo-button-text-color: #333333;
  --gameinfo-button-hover-color: #536d4f;
  --gameinfo-button-text-hover-color: #ffffff;
}


.page {
  max-width: 900px;
  font-family: "pixfont";
  background-color: var(--body-color);
  margin: 20px auto;
  padding: 0 10px;
  text-transform: lowercase;
}

.header {
  min-height: 50px;
  width: 60%;
  margin: 0 auto;
}

.header__title {
  font-size: 40px;
  font-weight: 300;
  margin: 0;
  text-align: center;
  color: var(--header-footer-font-color);
}

.content {
  background-color: var(--content-background-color);
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  color: var(--content-font-color);
}

.chess-board {
  width: 70vw;
  height: 70vw;
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  border: 2px var(--chess-board-border-color) solid;
  background-color: var(--chess-board-border-color);
}

.square {
  width: 12.5%;
  height: 12.5%;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.square_white {
  background-color: var(--white-square-color);
}

.square_black {
  background-color: var(--black-square-color);
}

.coordinate {
  height: auto;
  display: flex;
  position: absolute;
  bottom: -24%;
  left: 4%;
  font-size: 12px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.rank {
  top: 4%;
  right: -20%;
  left: auto;
}

.piece {
  width: 100%;
  z-index: 1;
  cursor: pointer;
}

.piece img {
  max-width: 100%;
  width: 100%;
  height: auto;
}

.chess-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.chess-buttons h2 {
  text-align: center;
  margin-top: 0;
}

.turn {
  text-align: center;
  font-size: 16px;
  margin: 0;
  margin-bottom: 10px;
}

.chess-button {
  appearance: none;
  width: 200px;
  height: 35px;
  border: 0;
  border-radius: 5px;
  background: var(--body-color);
  color: var(--button-font-color);
  padding: 8px 16px;
  transition: .1s linear;
  font-family: "pixfont";
  font-size: 16px;
}

.chess-button:hover {
  background-color: var(--button-hover-color);
}

#winning-message {
  text-align: center;
  margin: 0;
  margin-bottom: 10px;
  display: none;
}

.timer {
  text-align: center;
  font-size: 16px;
  margin: 0;
  margin-top: 10px;
  margin-bottom: 20px;
}

.footer {
  min-height: 30px;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  color: var(--header-footer-font-color);
}

.footer p {
  margin: 0 5px;
  flex: 1;
  font-size: 18px;
}

a {
  text-align: center;
  text-decoration: none;
}

a:link {
  color: var(--header-footer-font-color);
}
a:visited {
  color: var(--header-footer-font-color);
}
a:hover {
  color: var(--link-color);
}
a:active {
  color: var(--link-color);
}

@media (min-width: 860px) {
  .chess-board {
    width: 600px;
    height: 600px;
    margin-bottom: 25px;
  }
  .chess-buttons {
    margin-left: 20px;
  }
}

@media (max-width: 860px) {
  .content {
    justify-content: center;
  }
  .coordinate {
    font-size: 8px;
  }
  .winning-message {
    margin-top: 0;
  }
}

.highlight::before {
  content: "";
  position: absolute;
  inset: 0;
  background: radial-gradient(circle, var(--highlight-square-center-color) 20%, var(--highlight-square-edge-color) 80%);
  border: 1px solid var(--highlight-square-border-color);
  pointer-events: none;
  z-index: 1;
}
.highlight-last-move::before {
  content: "";
  position: absolute;
  inset: 0;
  background: radial-gradient(circle, var(--highlight-last-move-square-center-color) 20%, var(--highlight-last-move-square-edge-color) 80%);
  border: 1px solid var(--highlight-last-move-square-border-color);
  pointer-events: none;
  z-index: 1;
}





.promotionOption{
  border-radius: 50%;
  background-color: var(--promotion-option-still-color);
  transition: transform 0.2s;
  position: absolute;
  z-index: 1000;
}
.promotionOption:hover {
  cursor: pointer;
  border-radius: 0%;
  background-color: var(--promotion-option-hover-color);
  width: 100%;
}
.promotionOption img {
  max-width: 100%;
  width: 100%;
  height: auto;
}

#gameInfo {
  display: flex;
  background-color: var(--gameinfo-background-color);
  border-radius: 4px;
  flex-direction: column;
  width: 200px;
  min-height: 94px;
  max-height: 161px;
  border: 2px var(--gameinfo-border-color) solid;
}

#gameInfo p {
  margin: 0;
  padding: 10px;
  text-align: center;
  border-radius: 2px 2px 0 0;
  background-color: var(--gameinfo-footer-header-color);
  border-bottom: 2px var(--gameinfo-border-color) solid;
  font-size: 16px;
}

#pgnContainer {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  overflow-y: auto;
  font-size: 14px;
  max-height: 100px;
  flex-grow: 1;
}
.moveNumber {
  display: flex;
  flex: 0 0 16.666%;
  background-color: var(--gameinfo-move-number-color);
  justify-content: center;
  align-items: center;
  height: 20px;
}
.playerMove {
  display: flex;
  flex: 0 0 35%;
  padding-left: 10px;
  align-items: center;
  height: 20px;
  cursor: pointer;
}
.gameInfo-footer {
  min-height: 16px;
  background-color: var(--gameinfo-footer-header-color);
  border-radius: 0 0 2px 2px;
  border-top: 2px var(--gameinfo-border-color) solid;
}

.highlighted{
  background-color: var(--gameinfo-highlighted-move-color);
}
#moveNavigation{
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  background-color: var(--gameinfo-buttons-color);
  height: 5vh;
}
.navigation{
  display: flex;
  width: 25%;
  height: 100%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: var(--gameinfo-button-text-color);
}
.navigation:hover{
  background-color: var(--gameinfo-button-hover-color);
  color: var(--gameinfo-button-text-hover-color);
}



.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 2;
}

.popup-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  max-width: 300px;
  width: 90%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.popup h2 {
  margin-top: 0;
}

.theme-option {
  display: block;
  margin: 10px auto;
  padding: 10px;
  width: 80%;
  font-size: 16px;
  cursor: pointer;
  font-family: "pixfont";
  border: 0;
  border-radius: 5px;
  background: var(--body-color);
  color: var(--button-font-color);
}

.theme-option:hover {
  background-color: var(--button-hover-color);
}

.close-btn {
  margin-top: 10px;
  cursor: pointer;
  color: #ff0000;
  background: none;
  border: none;
  font-size: 16px;
  font-family: "pixfont";
}

.popup.show {
  visibility: visible;
  opacity: 1;
}
