@font-face {
  font-family: "pixfont";
  src: url("../static/fonts/unifon.woff");
}

.page {
  max-width: 900px;
  font-family: "pixfont";
  background-color: #5fa09f;
  margin: 20px auto;
  padding: 0 10px;
  text-transform: lowercase;
}

.header {
  min-height: 50px;
  width: 60%;
  margin: 0 auto;
}

.header__title {
  font-size: 40px;
  font-weight: 300;
  margin: 0;
  text-align: center;
  color: #000;
}

.content {
  background-color: #ffebcd;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}

.chess-board {
  width: 70vw;
  height: 70vw;
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  border: 2px #000000 solid;
  background-color: #000000;
}

.square {
  width: 12.5%;
  height: 12.5%;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.square_white {
  background-color: #eeeed2;
}

.square_black {
  background-color: #769656;
}

.coordinate {
  height: auto;
  display: flex;
  position: absolute;
  bottom: -24%;
  left: 4%;
  font-size: 12px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.rank {
  top: 4%;
  right: -20%;
  left: auto;
}

.piece {
  width: 100%;
  z-index: 1;
  cursor: pointer;
}

.piece img {
  max-width: 100%;
  width: 100%;
  height: auto;
}

.chess-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.turn {
  text-align: center;
  font-size: 16px;
  margin: 0;
  margin-bottom: 10px;
}

.chess-button {
  appearance: none;
  width: 200px;
  height: 35px;
  border: 0;
  border-radius: 5px;
  background: rgb(95, 160, 159);
  color: #fff;
  padding: 8px 16px;
  transition: .1s linear;
  font-family: "pixfont";
  font-size: 16px;
}

.chess-button:hover {
  background-color: rgb(73, 122, 121);
}

#winning-message {
  text-align: center;
  margin: 0;
  margin-bottom: 10px;
  display: none;
}

.timer {
  text-align: center;
  font-size: 16px;
  margin: 0;
  margin-top: 10px;
}

.footer {
  min-height: 30px;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
}

.footer p {
  margin: 0 5px;
  flex: 1;
  font-size: 18px;
}

a {
  text-align: center;
  text-decoration: none;
}

a:link {
  color: #000;
}
a:visited {
  color: #000;
}
a:hover {
  color: #baca44;
}
a:active {
  color: #baca44;
}

@media (min-width: 860px) {
  .chess-board {
    width: 600px;
    height: 600px;
    margin-bottom: 25px;
  }
  .chess-buttons {
    margin-left: 20px;
  }
}

@media (max-width: 860px) {
  .content {
    justify-content: center;
  }
  .coordinate {
    font-size: 8px;
  }
  .winning-message {
    margin-top: 0;
  }
}

.highlight::before {
  content: "";
  position: absolute;
  inset: 0;
  background: radial-gradient(circle, rgba(255, 215, 0, 0.4) 20%, rgba(255, 215, 0, 0.1) 80%);
  border: 1px solid rgba(255, 215, 0, 0.3);
  pointer-events: none;
  z-index: 1;
}





.promotionOption{
  border-radius: 50%;
  background-color: darkgray;
  transition: transform 0.2s;
  position: absolute;
  z-index: 1000;
}
.promotionOption:hover {
  cursor: pointer;
  border-radius: 0%;
  background-color:#539B0C;
  width: 100%;
}
.promotionOption img {
  max-width: 100%;
  width: 100%;
  height: auto;
}

#gameInfo {
  display: flex;
  background-color: white;
  border-radius: 4px;
  flex-direction: column;
  width: 200px;
  min-height: 97px;
  max-height: 161px;
  border: 2px #000000 solid;
}

#gameInfo p {
  margin: 0;
  padding: 10px;
  text-align: center;
  border-radius: 2px 2px 0 0;
  background-color: #c0c0c0;
  border-bottom: 2px #000000 solid;
  font-size: 16px;
}

#pgnContainer {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  overflow-y: auto;
  font-size: 14px;
  max-height: 100px;
  flex-grow: 1;
}
.moveNumber {
  display: flex;
  flex: 0 0 16.666%;
  background-color: #dddddd;
  justify-content: center;
  align-items: center;
  height: 20px;
}
.playerMove {
  display: flex;
  flex: 0 0 35%;
  padding-left: 10px;
  align-items: center;
  height: 20px;
  cursor: pointer;
}
.gameInfo-footer {
  min-height: 16px;
  background-color: #c0c0c0;
  border-radius: 0 0 2px 2px;
  border-top: 2px #000000 solid;
}

.highlighted{
  background-color: rgb(208,228,245);
}
#moveNavigation{
  display: flex;
  display: none;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  background-color:#f7f6f5 ;
  height: 10vh;
}

.navigation{
  display: flex;
  width: 25%;
  height: 100%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.navigation:hover{
  background-color: rgb(98,153,36);
  color:whitesmoke;
}
